body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

header img {
    display: block;
    margin: 0 auto 10px auto;
    width: 120px;  
}


header h1 {
    margin: 10px 0;
    font-size: 26px;
}

nav {
    margin-top: 15px;
    background-color: #1c5d99;
    padding: 10px 0;
    border-radius: 6px;
}

nav a {
   color: #eaf4ff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section {
   background-color: white;
    margin: 25px auto;
    padding: 25px;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

h2 {
    margin-bottom: 15px;
    color: #0b3c5d;
    border-bottom: 2px solid #d9e9f5;
    padding-bottom: 5px;
}

h3 {
    color: #1c5d99;
    margin-top: 15px;
}

section h2 {
    color: #0b3c5d;
}

p {
    line-height: 1.6;
    margin-bottom: 12px;
}

strong {
    color: #1c5d99;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

section img {
    display: block;
    margin: 15px auto;
    width: 140px;  
}

footer {
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

button {
    background-color: #1c5d99;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b3c5d;
}
